<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Form 1
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <form class="form-floating" [formGroup]="freeTextForm" (ngSubmit)="submitFreeTextForm()">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class=" form-floating">
                                <input type="text" class="form-control"
                                    [class.is-invalid]="freeTextForm.controls['name'].invalid"
                                    [class.is-valid]="!freeTextForm.controls['name'].invalid" formControlName="name"
                                    placeholder="Enter name" id="f1name" required>
                                <label for="f1name">Name</label>
                            </div>
                        </div>
                        <div class="col-md-auto my-auto">
                            <div *ngIf="validateFreeTextForm('name')" class="text-danger">
                                <div *ngIf="freeTextForm.controls['name'].hasError('required')">
                                    This field is required.
                                </div>
                                <div *ngIf="freeTextForm.controls['name'].hasError('minlength')">
                                    Length is too short.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <div class="form-floating">
                                <textarea class="form-control"
                                    [class.is-invalid]="freeTextForm.controls['question'].invalid"
                                    [class.is-valid]="!freeTextForm.controls['question'].invalid"
                                    formControlName="question" style="height: 100px;" placeholder="Enter question"
                                    id="f1area" required></textarea>
                                <label for="f1area">Question</label>
                            </div>
                        </div>
                        <div class="col-md-auto my-auto">
                            <div *ngIf="validateFreeTextForm('question')" class="text-danger">
                                <div *ngIf="freeTextForm.controls['question'].hasError('required')">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Form 2
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <form [formGroup]="multipleChoiceQuestionForm" (ngSubmit)="submitMultipleChoiceQuestionForm()">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class=" form-floating">
                                <input type="text" class="form-control"
                                    [class.is-invalid]="multipleChoiceQuestionForm.controls['title'].invalid"
                                    [class.is-valid]="!multipleChoiceQuestionForm.controls['title'].invalid"
                                    formControlName="title" placeholder="Enter title" id="f2title" required>
                                <label for="f2title">Title</label>
                            </div>
                        </div>
                        <div class="col-md-auto my-auto">
                            <div *ngIf="validateMultipleChoiceQuestionForm('title')" class="text-danger">
                                <div *ngIf="multipleChoiceQuestionForm.controls['title'].hasError('required')">
                                    This field is required.
                                </div>
                                <div *ngIf="multipleChoiceQuestionForm.controls['title'].hasError('minlength')">
                                    Title length is too short.
                                </div>
                                <div *ngIf="multipleChoiceQuestionForm.controls['title'].hasError('maxlength')">
                                    Title length is too long.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <div class="form-floating">
                                <textarea class="form-control"
                                    [class.is-invalid]="multipleChoiceQuestionForm.controls['question'].invalid"
                                    [class.is-valid]="!multipleChoiceQuestionForm.controls['question'].invalid"
                                    formControlName="question" style="height: 100px;" placeholder="Enter question"
                                    id="f2area" required></textarea>
                                <label for="f2area">Question</label>
                            </div>
                        </div>
                        <div class="col-md-auto my-auto">
                            <div *ngIf="validateMultipleChoiceQuestionForm('question')" class="text-danger">
                                <div *ngIf="multipleChoiceQuestionForm.controls['question'].hasError('required')">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div formArrayName="answers">
                            <div *ngFor="let answerForm of answers.controls; let i = index">
                                <div [formGroupName]="i">
                                    <div class="row mb-1">
                                        <div class="col-md-auto">
                                            <div class=" form-floating">
                                                <input type="text" class="form-control"
                                                    [class.is-invalid]="answerForm.invalid"
                                                    [class.is-valid]="answerForm.valid" formControlName="value"
                                                    placeholder="Enter title" id="i" required>
                                                <label for="i">Answer</label>
                                            </div>
                                        </div>
                                        <div class="col-md-auto my-auto">
                                            <button type="button" (click)="deleteAnswer(i)" class="btn btn-secondary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                                                    </path>
                                                    <path fill-rule="evenodd"
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="col-md-auto my-auto">
                                            <div *ngIf="answerForm.invalid" class="text-danger">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" (click)="addAnswer()" class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
                            </path>
                        </svg>
                        Add answer
                    </button> <br><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseThree">
                Form 3
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <div *ngFor="let cda of contactDetailsArray; let i = index" class="card mb-1">
                    <form [formGroup]="cda.form">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <div>
                                    {{cda.label}}
                                </div>
                                <div>
                                    <input class="form-check-input" formControlName="checked" (change)="checkboxChange(i)" type="checkbox"
                                        value="" id="flexCheckDefault">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="cda.form.value.checked">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class=" form-floating">
                                        <input type="text" class="form-control" [class.is-invalid]="cda.form.invalid"
                                            [class.is-valid]="cda.form.valid" formControlName="value"
                                            placeholder="Enter title" id="i" required>
                                        <label for="i">Enter value</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <button type="submit" (click) = "submitContactDetailsArray()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>